body {
    background-image: url("http://i.imgur.com/SQ6gf7Z.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
}

ul li {
    list-style-type: none;
    display: inline;
}

strong {
    color: green;
    top: 20px;
    right: 1px;
    position: absolute;
    font-family: monospace;
}

#systemMessage {
    color: green;
    top: 30px;
    right: 1px;
    position: absolute;
    font-family: monospace;
}

#taskMsg {
    color: green;
    top: 50px;
    right: 1px;
    position: absolute;
    font-family: monospace;
}

.container-fluid {
    margin: auto;
    padding: 30px;
}

.container-fluid2 {
    width: 800px;
    margin: auto;
    position: relative;
    top: 60px;
}

#imgSpeech {
    width: 150px;

    z-index: -1;
    transform: scaleX(-1);
    right: 210px;
    bottom: 225px;
    color: #004b00;
}

#imgPerson {
    width: 135px;
    right: 125px;
    bottom: 100px;

}

#imgBYOI {
    top: 50px;
    right: -227px;
    width: 100px;
}

#imgBuildYOI {
    top: 45px;
    right: -160px;
    width: 200px;

}

#connectionButton {
    text-align: center;
    top: 200px;
    position: relative;
}

#textInputs {
    font-family: monospace;
    color: white;
}

.topPane {
    top: 60px;
    position: relative;
}

.secPane {
    top: 65px;
    position: relative;
}

#sidebar {
    width: 200px;
    float: right;
}

#sidebar button {
    width: 100%;
}

#main {
    float: left;
    width: 600px;
}

#msgBox {
    margin-right: 50px;
}

#recipient {
    width: 50px;
}

#systemMessages strong {
    float: left;
}

#messageList {
    width: 100%;
    margin: auto;
    color: black;
    font-family: monospace;
}

#messageList div {
    border: solid 1px black;
    padding: 5px;
}

#messageList div:nth-child(odd) {
    background: rgba(0, 159, 77, 0.4);
    text-align: right;
}

#messageList div:nth-child(even) {
    background: rgba(0, 222, 101, 0.45);
    /*background: rgba(117, 255, 170, 0.4) */
    text-align: left;
}

#messageList div:hover {
    /*background: rgba(0, 221, 79, 0.7);*/
    background: rgba(151, 255, 198, 0.7);
}

#messageList div.selected {
    /**background: rgba(0, 221, 79, 0.8);*/
    background: rgba(202, 255, 226, 0.5);
}
