body {
    background-image: url("http://i.imgur.com/SQ6gf7Z.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    height: 100%;
    font-size: 16px;
}

html {
    height: 100%;
}

ul li {
    list-style-type: none;
    display: inline;
}

ol li {
    list-style-type: none;
}

strong {
    color: green;
    top: 20px;
    right: 1px;
    position: absolute;
    font-family: Century Gothic, sans-serif;
}

textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    position: relative;
    height: 32px;
    font-family: Century Gothic, sans-serif;
}

#systemMessage {
    color: green;
    top: 30px;
    right: 1px;
    position: absolute;
    font-family: Century Gothic, sans-serif;
}

#taskMsg {
    color: green;
    top: 50px;
    right: 1px;
    position: absolute;
    font-family: Century Gothic, sans-serif;
}

.container-fluid {
    margin: auto;
    padding: 30px;
    height: 100%;
}

#row {
    height: 25%;
}

#row2 {
    height: 70%;
    width: 75%;
    margin: auto;
    padding-top: 5%
}

#imgSpeech {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: -1;
    transform: scaleX(-1);
}

#talkingGuy {
    float: right;
    right: -5%;
}

#imgPerson {
    width: 150px;
    position: relative;
    right: -40%;
}

#logo {
    float: right;
    padding-right: 20%;
    padding-top: 3%;
}

#imgBYOI {
    float: right;
    top: 40px;
    width: 100px;
    position: relative;
}

#imgBuildYOI {
    top: 45px;
    width: 200px;
    position: relative;
}

#imgCon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    margin-top: 350px;
    position: relative;
}

#connectText {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 44.2%;
    font-family: Ubuntu;
    outline-color: black;
    color: rgba(0, 222, 101, 0.45)
}

#textInputs {
    font-family: Century Gothic, sans-serif;
    color: white;
}

.topPane {
    padding-top: 5%;
    padding-left: 6%;
    position: relative;
}

.secPane {
    padding-top: 1%;
    padding-left: 6%;
    position: relative;
}

#sidebar {
    width: 200px;
    float: right;
}

#main {
    float: left;
    width: 600px;
}

#msgBox {
    margin-right: 50px;
}

#recipient {
    width: 50px;
}

#receivedMsgs {
    float: right;
}

#imgDel {
    width: 6%;
}

.scrollable {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.scrollable2 {
    max-height: 80px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

#systemMessages {
    right: 27%;
    margin-bottom: 5%;
    top: 3%;
    position: relative;
}

#taskMsg {
    float: right;
    padding-top: 4%;
    right: -15%;
}

#msg {
    padding: 3px;
    width: 159%;
    border: solid 2px rgb(30, 48, 30);
    background: rgba(0, 222, 101, 0.45)
}

#recipient {
    padding: 3px;
    width: 25%;
    border: solid 2px rgb(30, 48, 30);
    background: rgba(0, 222, 101, 0.45)
}

#messageList {
    width: 200%;
    margin: auto;
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
}

#messageList div {
    border: solid 1px black;
    padding: 5px;
}

#messageList div:nth-child(odd) {
    background: rgba(0, 159, 77, 0.4);
    /*text-align: right;*/
}

#messageList div:nth-child(even) {
    background: rgba(0, 222, 101, 0.45);
    /*background: rgba(117, 255, 170, 0.4) */
    /*text-align: left;*/
}

#messageList div:hover {
    background: rgba(151, 255, 198, 0.7);
    /*background: rgba(0, 221, 79, 0.7);*/
}

#messageList div.selected {
    background: rgba(202, 255, 226, 0.5);
    border: solid 1px green;
    /**background: rgba(0, 221, 79, 0.8);*/
}


::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #2b442b;
}

::-webkit-scrollbar-thumb{
	background-color: #3f633f;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #213421;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #97bd97;
}